html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
	text-align: center;
}

div {
	position: relative;
	height: 50%;
	width: 100%;
	overflow: hidden;
}

#logo
{
	background: url('vluds.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 100%;
	height: 35%;
	margin-top: 5%;
	margin-bottom: 5%;
}

img {
	width: 100%;
	height: auto;
}

img.logo {
	max-width: 1500px;
}

p {
	display: block;
	margin: 30px auto 30px auto;
	padding: 0 0 0 0;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
	height: 20px;
}

a, a:link, a:visited, a:active {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 15px;
	width: 150px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	background: #3498DB;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

a:hover {
	background: #ffffff;
	color: #777777;
	border: 1px solid #3498DB;
}